body,
p,
button {
  font-family: 14px "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.navigation ul {
  text-align: center;
}

.navigation li {
  display: inline-block;
  margin: 75px 100px 100px auto;
}

.navigation li:last-child {
  margin-right: 0;
}

a {
  text-transform: uppercase;
  color: rgb(98, 98, 98);
}

a:hover {
  color: rgb(3, 169, 244);
}

.post-wrap {
  font-size: 0;
}

.post {
  display: inline-block;
  width: 420px;
  box-sizing: border-box;
  margin-right: 60px;
  margin-bottom: 130px;
}

.post:nth-child(even) {
  margin-right: 0;
}

h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

p {
  color: rgb(98, 98, 98);
}

.underPhoto {
  font-family: 14px "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(180, 173, 158);
  margin-top: 26px;
  margin-bottom: 30px;
}

img {
  display: block;
  width: 100%;
}

.but {
  margin: 0 auto;
  display: block;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  background-color: white;
  font-size: 20px;
  padding: 20px 35px;
  margin-bottom: 75px;
}

.post:nth-child(-n + 2) {
  margin-bottom: 55px;
}
